/* goole fonts*/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.logo {
    width: 200px;
    height: auto;
}

.image {
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.moblie__navbar {
    display: none;
}

.navbar-s1 {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;

}

.navbar-s2 {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;

}

.signup-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 0px;

}

.where {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin: 0%;

}

.name {
    margin-top: 0px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.moblie__menu {
    display: none;
}

p {
    margin: 0%;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border: solid 2px black;
    border-radius: 30px;
    width: 50%;
    margin-left: 375px;
}

.button-search {
    padding: 10px;
    border-radius: 30px;
    background-color: green;
    color: white;
    width: 100px;
}

.search {
    width: 50%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.para {
    margin-right: 100px;
}

.banner {
    width: 80%;
    height: 500px;
    background-color:#00EB5B;
    margin-top: 30px;
    margin-left: 150px;
    border-radius: 10px;
    display: flex;
}
.banner img{
    width: 100%;
}

.image-banner {
    width: 100%;
    height: 450px;
    margin: 25px;
    border-radius: 10px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.banner-heading {
    font-weight: bold;
    font-size: 40px;
    margin: 25px;


}

.vertical-line {
    width: 2px;
    height: 400px;
    /* change height */
    background-color: black;
    /* line color */
    margin-top: 50px;
}

.banner-para {
    font-size: 20px;
    margin: 10px;
}

.banner-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin: 25px;
    font-size: 18px;
}

.cart-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

}


.cart-heading {
    margin-left: 50px;
}

.cart-para {
    margin-left: 50px;
}

.image-cart {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.sponsored {
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
    background-color: #F7F7F7;
}

.image-sponsored {
    width: 600px;
    height: 600px;

    margin-top: 20px;
}

.sponsored-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-left: 150px;

}

.sponsored-para {
    font-size: 14px;
    text-align: center;
}

.sponsored-heading {
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}

.sponsored-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
    width: 150px;

}

.image-banner2 {
    width: 100%;
}

.menuname {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gap: 80px;
}

.menuname-s4 {

    gap: 100px;
}

.footer-links {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.footer-controls select {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.menuname {
    background-color: #F7F7F7;
}

@media screen and (max-width:800px) {}

@media screen and (max-width:600px) {
    .body{
        overflow-x: hidden;
    }
    .navbar {
        display: none;
    }

    .moblie__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .searchbar {
        width: 80%;
        margin-left: 40px;
    }

    .banner {
        flex-direction: column;
        height: auto;
        width: 80%;
        margin-left: 40px;
    }

    .image-banner {
        width: 90%;
        height: auto;
        margin: 10px;
    }

    .vertical-line {
        display: none;
    }

    .where,
    .menu {
        display: none;
    }

    .moblie__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
    }

    .cart-image {
        display: 1 1 200px;
    }

    .cart-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        width: 300px;


    }
    .sponsored {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0px;
    }     
    .image-sponsored {
        width: 320px;
        height: 300px;
        margin-top: 20px;     
    }
    .sponsored-text{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-right: 120px;
    }
    .image-banner2{
        width: 320px;
        height: 200px;
        
    }
    .image-banner2{

        margin-left: 50px;

    }
    .banner2{
        width: 90%;
        margin-left: -30px;
        
    
    }
    .menuname{
        flex-direction: column;
        gap: 20px;
    }
    .footer-links{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .cart-heading{
        margin-left: 0px;
    }
    .cart-para{
        margin-left: 0px;
    }
}